html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #ececec;
}

a {
  color: #FF6600;
}

.coming-soon {
  font-size: 14pt;
}

/* Header */

.header {
  text-align: center;
  padding-top: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header > h3 {
  color: #FFFFFF;
  text-shadow: 1px 1px #000;
}
